.js-scrollbar {
  overflow-y: auto !important;
  font-size: 13px !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 140px;
  display: inline-block;
  line-height: 11px;
}
.newHeader {
  padding: #fff !important;
  font-size: 16px !important;
  font-weight: bold !important;
  background: #fff !important;
}
.header {
  background-color: #fff;
}
.searchWrapper {
  background: url("../imgs/bg.png");
  padding: 50px 0;
}
#navBar {
  background-color: #fff !important;
  a {
    color: #132144 !important;
  }
}

.card {
  border-radius: 13px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.searchBox {
  display: flex;
  select {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-right: none;
    height: 40px;
    padding-left: 15px;

    border: none;
  }
  input {
    height: 40px;
    border-left: 0px;
    border: none;
    border-left: 1px solid grey;
    padding-left: 15px;
    box-sizing: border-box;
    margin: 0;
    width: 400px;
  }
  button {
    height: 40px;
    border: none;
    background: #30b5e2;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}
.card-footer {
  padding: 0;
  background-color: transparent;
  border-top: none;
}
.btnBluGradient {
  background: blue;
  background-image: linear-gradient(to right, #003682, #30b5e2);
  border-radius: 13px;
  color: #fff;
  border: none;
  padding: 3px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    margin-right: 10px;
  }
  &:hover {
    color: #fff;
  }
}
footer {
  background: url("../imgs/bg.png");
  padding: 30px 0;
  .footer-copyright {
    color: #fff;
  }
  a {
    color: #fff;
  }
}

.transactionsList {
  .link {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
  }
}

.infinite-scroll-component {
  overflow-x: hidden !important;
}

@media only screen and (max-width: 768px) {
  .searchBox input {
    width: calc(100vw - 190px);
  }

  .walletAddress {
    text-align: center;
    span {
      font-size: 12px;
    }
  }
  .text-truncate {
    max-width: calc(100vw - 135px);
  }
}

.hathOverflow {
  max-width: 91px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.pagination {
  display: flex;
  padding: 0;
  margin-top: 20px;
  li {
    &.active {
      a {
        color: black;
        background: gainsboro;
        border-radius: 3px;
      }
    }
    a {
      display: block;
      padding: 5px 10px;
      &:focus {
        border: none;
        outline: none;
      }
    }
    &.selected {
      a {
        background-color: #eef0ef;
      }
    }
  }
}

.navbar-nav {
  > li {
    position: relative;
    &:hover {
      > ul {
        display: block;
      }
    }

    ul {
      display: none;
      padding: 10px 0;
      position: absolute;
      background: #fff;
      border-top: 2px solid #40b0d9;
      white-space: nowrap;
      list-style: none;
      padding-left: 0;
      right: 0;
      z-index: 10;
      li {
        margin-bottom: 10px;
        padding-right: 40px;
        padding-left: 40px;
      }
    }

    @media only screen and (max-width: 768px) {
      text-align: center;
      ul {
        // display: block;
        left: 50px;
        right: unset;
        position: unset;
      }
    }
  }
}

.waveTable {
  th {
    background-color: #f8fafd;
  }
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
}
